[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
wheel = "*"
click = "*"
qml = {editable = true, path = "."}
pandas = "*"
pandas-profiling = "*"
great-expectations = "*"
watchdog = "*"
mlprimitives = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
