[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
wheel = "*"
click = "*"
qml = {editable = true, path = "."}
watchdog = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
