[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
typer-cli = "*"
twine = "*"
wheel = "*"
click = "*"
qml = {editable = true, path = "."}
pandas = "*"
pandas-profiling = "*"
great-expectations = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
