[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dvc = {extras = ["gdrive"], version = "*"}
great-expectations = "*"
prompt-toolkit = "*"
rich = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
